pkgbase = sendbeam-bin
	pkgdesc = Secure, direct, peer-to-peer file transfer in your browser and terminal
	pkgver = 1.7.0
	pkgrel = 1
	url = https://omnitrix.space
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = sendbeam
	conflicts = sendbeam
	source_x86_64 = https://github.com/Akshay7273/sendbeam/releases/download/v1.7.0/sendbeam-cli-linux-amd64.tar.gz
	sha256sums_x86_64 = 02581557d250eb15268c018633d9ac9b8cadb7d99440986a8ff4daa63d036385
	source_aarch64 = https://github.com/Akshay7273/sendbeam/releases/download/v1.7.0/sendbeam-cli-linux-arm64.tar.gz
	sha256sums_aarch64 = 002c09880bde45ca6a845c6f17bf459df253f534e976ef573b802b0e26db6898

pkgname = sendbeam-bin
