pkgbase = sendbeam-bin
	pkgdesc = Secure, direct, peer-to-peer file transfer in your browser and terminal
	pkgver = 1.8.0
	pkgrel = 1
	url = https://omnitrix.space
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = sendbeam
	conflicts = sendbeam
	source_x86_64 = https://github.com/Akshay7273/sendbeam/releases/download/v1.8.0/sendbeam-cli-linux-amd64.tar.gz
	sha256sums_x86_64 = b1043d18e114ea004f6ea25e6682ecf8f6794f557eb5e34a2f1b869566c1ac3a
	source_aarch64 = https://github.com/Akshay7273/sendbeam/releases/download/v1.8.0/sendbeam-cli-linux-arm64.tar.gz
	sha256sums_aarch64 = ae59a02cee089373bcbd0b68edcbf0ad06de75c36d5459e6aaf59442b21d6f30

pkgname = sendbeam-bin
